<h2>Place your bet.</h2>
<p><%= session[:player_name]%> has $<%= session[:player_bankroll]%>. The minimum bet is $5.</p>

<form action="/bet" method="POST">
  <input type="text" name="bet_amount">
  <br />
  <input type="submit" class="btn" value="Make Bet">
</form>


