<h3>Thanks for playing!</h3>
<h4>Looks like you're ready to hit Vegas!</h4>
<p>(Unless you've changed your mind, in which case you might want to keep playing)...?</p>
<br />

<a class="btn btn-info btn-large" href="/bet"><i class="icon-user"></i> Keep Playing</a>
