<h3>Thanks for playing!</h3>
<p>Looks like you're out of money...If you want to try your luck again, please see the Cashier for more chips first.</p>
<br />

<a class="btn btn-info btn-large" href="/new_player"><i class="icon-user"></i> Start Over</a>
