<h3>Thanks for playing!</h3>
<p>Sorry, <%= session[:player_name] %>. You have <span class="game_over_bankroll_amount">$<%= session[:player_bankroll] %></span>, and the minimum bet is $5...If you want to try your luck again, please see the Cashier for more chips first.</p>
<br />

<a class="btn btn-info btn-large" href="/new_player"><i class="icon-user"></i> Start Over</a>
