/* Fonts */
.navbar .nav>li>a {
    color:#ff0033;
    font-size:20px;
    font-weight:bold;
}

body h1,h2,h3,h4,h5,h6 {
    color:#e6e699;
}

body p {
    color:#fff;
}

div.well h4 {
    color:#fff;
}

span.game_over_bankroll_amount {
    color:#ffff00;
}

/* Board Styling */
body{
    background-color:#336633;
    /* background-color:#407739; */
    /* background-color:#409949; */
}

.trim {
    color:#e6e699;
}

.well {
    background-color:#336630;
    border-width:2px;
    border-style:solid;
    border-color:#e6e699;
}

.well>p {
    color:#fff;
}

p#play_again {
    color:#99ccff;
    margin-bottom:30px;
}

/* Forms */
form#hit_form{
    float:left;
    margin-right: 10px;
}

form#stand_form{
    float:left;
}

/* Cards */
img.card_image {
    margin: 0px 5px 5px 0px;
    width:90px;
    height: 125px;
}

/* Game Alert Messages */

div.alert.alert-success, div.alert.alert-error {
    background-color:#fff;
    font-weight:bold;
}

div.alert.alert-error {
    background-color:#fff
}

/* Buttons */

a#leave_table.btn.btn-danger {
    margin-bottom:30px;
}